<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCOHk1N2gkuck13hX1V8aVgagLzEYKEWhw</string>
	<key>GCM_SENDER_ID</key>
	<string>545118974495</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.erol.bebecam.bebecam</string>
	<key>PROJECT_ID</key>
	<string>bebecam-9a5fe</string>
	<key>STORAGE_BUCKET</key>
	<string>bebecam-9a5fe.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:545118974495:ios:df2ec86554d9796e8a9b2a</string>
</dict>
</plist>